### Import Libraries

In [1]:
import pandas as pd

### Create Tables for Joining

In [20]:
countries = pd.DataFrame({'Country':['USA','China','Japan','Germany','UK','France','India','Italy'],
                          'GDP':[20.4,14.0,5.1,4.2,2.9,2.9,2.8,2.1],
                          'Capital':['Washington','Beijing','Tokyo','Berlin','London','Paris','New Delhi','Rome'],
                          'Population':[328,1398,126,83,66,67,1366,60]})
countries.head()

   Country   GDP     Capital  Population
0      USA  20.4  Washington         328
1    China  14.0     Beijing        1398
2    Japan   5.1       Tokyo         126
3  Germany   4.2      Berlin          83
4       UK   2.9      London          66

In [16]:
cap_pop = pd.DataFrame({'Capital':['Beijing','New Delhi','Tokyo','Kinshasa','Moscow','Jakarta','Seoul','Cairo','Mexico City','London'],
                        'Population':[21.5,14.2,13.9,12.6,12.5,10.8,9.8,9.8,8.9,8.9]})
cap_pop.head()

     Capital  Population
0    Beijing        21.5
1  New Delhi        14.2
2      Tokyo        13.9
3   Kinshasa        12.6
4     Moscow        12.5

In [17]:
countries2 = pd.DataFrame({'Country':['Canada','South Korea','Russia','Brazil','Australia'],
                           'GDP':[1.6,1.59,1.46,1.36,1.33]})
countries2.head()

       Country   GDP
0       Canada  1.60
1  South Korea  1.59
2       Russia  1.46
3       Brazil  1.36
4    Australia  1.33

### Inner Join

In [21]:
countries.merge(cap_pop,on='Capital',suffixes=('_country','_capital'))

  Country   GDP    Capital  Population_country  Population_capital
0   China  14.0    Beijing                1398                21.5
1   Japan   5.1      Tokyo                 126                13.9
2      UK   2.9     London                  66                 8.9
3   India   2.8  New Delhi                1366                14.2